@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import '~nav-frontend-typografi-style/src/fontimports';
@import '~nav-datovelger/dist/datovelger/styles/datovelger.css';
@import (reference) '~nav-frontend-core/less/_variabler';

body {
  background-color: @navLysGra;
  font-family:      @font-family;
}

.fit-window-height {
  height:         100vh;
  display:        flex;
  flex-direction: column;
  position:       relative;
}

.header {
  width: 100%;
}