.korrigering {
    &__feilmelding {
        margin-top: 1.5rem;
    }

    &__infostripe.alertstripe {
        margin-top: 0;
    }

    &__skjemagruppe legend {
        margin-bottom: 0.75rem;
    }
}
