.korrigering-legend {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

h4.korrigering-legend {
    font-size: 1.125rem;
}

.korrigering {
    &__panelsurface {
        .korrigering-legend {
            margin-top: 0.5rem;
            margin-left: 0.875rem;
        }
    }

    &__seksjon > legend {
        margin-bottom: 0.5rem;
    }

    &__seksjon + &__seksjon {
        margin-top: 1.5rem;
    }

    &__toggleSection {
        margin-top: 1.5rem;
    }

    &__toggleSection--compact {
        margin-top: 1rem;
    }

    .opplysningerOmKorrigeringPanel {
        padding: 1.875rem 1.875rem 1rem !important;
    }

    &__feilmelding {
        margin-top: 1.5rem;
    }

    &__opplysningerOmKorrigeringContainer {
        margin: 1.875rem 0 1.5rem;
    }

    &__infostripe.alertstripe {
        margin-top: 0;
    }

    &__skjemagruppe legend {
        margin-bottom: 0.75rem;
    }
}
