.delvisFravaer {
    .typo-feilmelding {
        margin-top: 0.5rem;
    }

    .skjemaelement__feilmelding {
        position: absolute;
        width: max-content;

        .typo-feilmelding {
            margin-top: 0;
        }
    }

    .input-row {
        display: inline-flex;
        align-items: flex-end;
        margin: 0.5rem 0 1rem;
    }
}
