.delvisFravaer {
    padding-bottom: 3rem !important;

    &__inputfelter {
        display: flex;
        margin: 0 0.875rem 0.875rem;

        .skjemaelement:last-of-type {
            margin: 0 0.875rem 0 2.4375rem;
        }
    }

    &__inputContainer {
        padding: 1rem 0 0;
    }

    .typo-feilmelding {
        margin-top: 0.5rem;
    }

    .skjemaelement__feilmelding {
        position: absolute;
        width: max-content;

        .typo-feilmelding {
            margin-top: 0;
        }
    }
}

.input-row {
    display: inline-flex;
    margin: 0.5rem 0 1rem;
}
