/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    appearance: textfield;
}

.numberInput {
    position: relative;
    height: 75px;

    & > * {
        position: absolute;
    }

    .numberInput__minus {
        top: 3px;
    }

    .numberInput__input {
        left: 50px;
    }

    .numberInput__pluss {
        left: 100px;
        top: 3px;
    }

    .numberInput__button {
        background: transparent;
        border: none;
        padding-top: 6px;
        padding-bottom: 2px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: 3px solid #0067c5;
        }
    }
}
