.radioinput--radios {
  min-width: 500px;
  &.radioinput--horisontal {
    display: flex;
    > * {
      width: 10em;
      margin-right: 1em;
    }
  }

  &.radioinput--vertikal {
    > :not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.radio-legend {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  line-height: 1.4;
  margin-bottom: -0.5em;
}
