@import (reference) 'node_modules/nav-frontend-core/less/_variabler';

.skjemaheader__overskrift {
  font-size: 1.4em;
  margin: 0;
}

.skjemaheader__avbryt {
  color: @navBla;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  & > :not(:last-child) {
    margin-right: 0.5em;
  }
}
