# Trenger ikke accesslogger på NAIS siden dette er innebygd i platformen
access_log off;
error_log /dev/stdout info;
charset utf-8;

client_body_buffer_size 20M; # Default er satt veldig lavt. Får problemer med enkelte dokument queries.

# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    ~image/                    max;
}

# Cache-control map
map $upstream_http_cache_control $custom_cache_control {
    ''        'no-cache, must-revalidate, proxy-revalidate, max-age=0';
}

    server {
      listen       8080;
      server_name  "${APP_HOSTNAME}";



      location @401_json {
        default_type application/json;
        return 401 '{"feilmelding":"Bruker ikke innlogget","type":"MANGLER_TILGANG_FEIL"}';
      }

      location @403_json {
        default_type application/json;
        return 403 '{"feilmelding":"Innlogget bruker har ikke tilgang til ressursen","type":"MANGLER_TILGANG_FEIL"}';
      }

      location @404_json {
        default_type application/json;
        return 404 '{"feilmelding":"Kunne ikke finne ressursen, beklager.","type":"IKKE_FUNNET_FEIL"}';
      }

      location @504_json {
        default_type application/json;
        return 504 '{"feilmelding":"Timet ut","type":"GENERELL_FEIL"}';
      }


    location / {

        expires                 $expires;
        etag                    on;
        if_modified_since       off;
        sendfile                on;

        add_header              X-Application-Id "${APP_NAME}, pod=${APP_HOSTNAME}";
        add_header              Content-Security-Policy "default-src 'self'; connect-src 'self' ${OIDC_AUTH_PROXY} ${K9_PUNSJ_API_URL} https://sentry.gc.nav.no; frame-src 'self' ${OIDC_AUTH_PROXY}; font-src 'self' data: https://cdn.nav.no; img-src 'self' data:; style-src 'self' 'unsafe-inline';";        
        add_header              X-Content-Type-Options "nosniff";
        add_header              X-XSS-Protection "1;mode=block";
        add_header              Strict-Transport-Security "max-age=31536000";

        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;    
        }

    location /api {
        proxy_pass "${K9_PUNSJ_API_URL}/api/";
    }

    location = /getEnvVariables {
        alias /tmp/k9-punsj/env.json;
        default_type application/json;
      }

    location /dist {
        root   /usr/share/nginx/html;
        try_files $uri $uri/ =404;
    }


      # Health check for NAIS
  location = /isAlive {
    return 200 "Application:UP";
    add_header Content-Type text/plain;
  }

  # Readiness check for NAIS
  location = /isReady {
    return 200 "Application:READY";
    add_header Content-Type text/plain;
  }

}

