.korrigering-legend {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.korrigering {
    &__buttonContainer {
        margin-top: 2.8125rem;
    }

    &__submitButton {
        margin-right: 1rem;
    }

    .listepanel {
        .korrigering-legend {
            margin-top: 0.5rem;
            margin-left: 0.875rem;
        }
    }

    &__feilmelding {
        margin-top: 1.5rem;
    }
}
