.virksomhetPanel {
    position: relative;

    .skjemaelement:first-of-type {
        display: inline;
    }
    .skjemaelement:nth-of-type(2) {
        margin-top: 10px;
    }
    .eksternLenke {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .feilmelding {
        margin: 0.5rem 0;
    }
}
