@import (reference) '@{coreModulePath}nav-frontend-core/less/_variabler';

.punch_pdf_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .navds-button:hover {
        background-color: white;
    }

    &.pdf_closed {
        width: 54px !important;
        min-width: 54px !important;
        transition:
            width 0.2s,
            min-width 0.2s;

        div {
            cursor: default !important;
        }

        iframe,
        .navds-box .knapperad {
            display: none;
        }

        .navds-box .button_open.navds-button {
            display: block;
        }

        .navds-box .fleredokumenter {
            display: none;
        }
    }
}

.punch_pdf.navds-box {
    @pdfPadding: 3px;

    padding: @pdfPadding;
    margin-left: 0.5rem;
    background-color: @navGra40;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .fleredokumenter {
        @buttonHeight: 60px;

        display: flex;

        > div {
            background-color: @white;
            border-radius: 2px;

            span {
                margin: auto;
            }
        }

        .navds-toggle-group {
            display: block;
        }
    }

    iframe {
        border-width: 0;
        flex-basis: 100%;
    }

    .knapperad {
        display: flex;
        flex-direction: row;
        align-content: space-between;

        .navds-button {
            flex-grow: 1;
            margin-top: @pdfPadding;

            &.knapp1 {
                margin-right: calc(@pdfPadding / 2);
            }

            &.knapp2 {
                margin-left: calc(@pdfPadding / 2);
            }
        }
    }

    .button_open.navds-button {
        width: 100%;
        padding: 0;
        height: 100%;
        display: none;
    }
}
