.punch_pdf_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.punch_pdf_wrapper .aksel-button:hover {
    background-color: white;
}

.punch_pdf {
    padding: 3px;
    margin-left: 0.5rem;
    background-color: #a0a0a0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.punch_pdf .fleredokumenter {
    display: flex;
}

.punch_pdf .fleredokumenter > div {
    background-color: #fff;
    border-radius: 2px;
}

.punch_pdf .fleredokumenter > div span {
    margin: auto;
}

.punch_pdf .fleredokumenter .aksel-toggle-group {
    display: block;
}

.punch_pdf iframe {
    border-width: 0;
    width: 100%;
    min-height: 0;
    flex: 1 1 auto;
}

.punch_pdf .knapperad {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.punch_pdf .knapperad .aksel-button {
    flex-grow: 1;
    margin-top: 3px;
}

.punch_pdf .knapperad .knapp1 {
    margin-right: calc(3px / 2);
}

.punch_pdf .knapperad .knapp2 {
    margin-left: calc(3px / 2);
}

.punch_pdf .button_open {
    width: 100%;
    padding: 0;
    height: 100%;
    display: none;
}

.punch_pdf_wrapper.pdf_closed {
    width: 54px !important;
    min-width: 54px !important;
    transition:
        width 0.2s,
        min-width 0.2s;
}

.punch_pdf_wrapper.pdf_closed .punch_pdf div {
    cursor: default !important;
}

.punch_pdf_wrapper.pdf_closed iframe,
.punch_pdf_wrapper.pdf_closed .punch_pdf .knapperad {
    display: none;
}

.punch_pdf_wrapper.pdf_closed .punch_pdf .button_open {
    display: block;
}

.punch_pdf_wrapper.pdf_closed .punch_pdf .fleredokumenter {
    display: none;
}
