.buttonRow {
    margin-top: 1.5625rem;
}

.previewLink {
    float: right;
    border: none;
    padding-right: 0;
}

.brev {
    background-color: #eaeaea;
    border-radius: 0.3125rem;
    padding: 1.25rem 1.375rem 2rem;
}

.textareaContainer {
    position: relative;
}

.språkEtikett {
    position: absolute;
    right: 0;
    top: 0;
}

.brevSendtContainer {
    align-items: center;
    display: flex;
    margin-top: 1.875rem;
}

.brevSendtText {
    margin-left: 0.5rem;
}

.sendBrevButton {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    &:hover {
        svg {
            filter: brightness(0) invert(1);
        }
    }
}
