.buttonRow {
    margin-top: 1.5625rem;
}

.previewLink {
    float: right;
    border: none;
    padding-right: 0;
}

.brevContainer {
    background-color: #eaeaea;
    border-radius: 0.3125rem;
    padding: 1.25rem 1.375rem 2rem;
}

.textareaContainer {
    position: relative;
}

.språkEtikett {
    position: absolute;
    right: 0;
    top: 0;
}
