.annen-forelder-container {
    max-width: 450px;
}

.navds-text-field__label {
    display: block;
}
.navds-text-field__input {
    max-width: 250px;
}

.navds-select__container {
    max-width: 250px;
}

.navds-textarea__wrapper {
    max-width: 383px;
}
