.fagsak-container {
    border-radius: 3%;
    padding: 1rem;
    background-color: var(--a-surface-subtle);
}

.fagsak-container div {
    display: flex;
}

.fagsak-container p {
    min-width: 10rem;
}
