.fagsakContainer {
    border-radius: 3%;
    padding: 1rem;
    background-color: var(--a-surface-subtle);
}

.fagsakContainer div {
    display: flex;
}

.fagsakContainer label {
    min-width: 10rem;
}
