.ReactModal__Content {
    width: fit-content;
}

.ok-gaa-til-los {
    display: flex;
    align-items: center;

    .successIcon-gå-to-los {
        color: #06893a;
        font-size: 3.2rem;
    }

    .vl-gå-to-los {
        height: 3rem;
        border-left: 1px solid #000;
        margin: 0 1rem;
    }

    .info-gå-to-los {
        margin: 0 0.5rem;
    }

    .okknapp-gå-to-los {
        margin: 0 1rem;
    }
}
