@import (reference) '../../../../node_modules/nav-frontend-core/less/_variabler';

.punch {

  max-width:      100%;
  margin:         0 1rem;
  flex-basis:     100%;
  display:        flex;
  flex-direction: column;
  height:         100%;
  position:       relative;

  h1 {width: 100%}

  .panels-wrapper {

    flex-basis:     100%;
    display:        flex;
    flex-direction: row;
    padding-bottom: 1rem;
    min-height:     100px;

    .punch_pdf {

      width:            100%;
      padding:          3px;
      margin-left:      0.5rem;
      background-color: @navGra20;
      transition:       width .2s;
      display:          flex;
      flex-direction:   column;
      align-items:      stretch;

      iframe {
        border-width: 0;
        flex-basis:   100%;
      }

      button {background-color: white}

      .knapperad {

        display:        flex;
        flex-direction: row;
        align-content:  space-between;

        .knapp {
          flex-grow:  1;
          margin-top: 4px;

          &.knapp1 {margin-right: 2px}

          &.knapp2 {margin-left: 2px}
        }
      }

      .button_open {
        width:   100%;
        padding: 0;
        height:  100%;
        display: none;
      }
    }

    .punch_form {

      margin-right: 0.5rem;
      flex-basis:   100%;
      overflow-y:   auto;

      > .knapperad .knapp1 {margin-right: 1rem}

      .statusetikett {
        position: absolute;
        top:      1rem;
        left:     140px;
        z-index:  5;
      }

      .signatur-checkbox {

        display: flex;

        .skjemaelement__feilmelding {
          margin-top:  0;
          margin-left: 1rem;
        }
      }

      .periodepanel {

        background-color: tint(@navLysGra, 75%);
        margin-bottom:    1rem;
        padding:          1rem 0;

        &.focus, &:hover {border-color: @navBla}

        &.focus {box-shadow: 0 2px 4px 0 @navGra20}

        &.notFocus {opacity: 67%}

        .periode_arbeid {

          margin-bottom: 1rem;

          .panel {
            padding:       0;
            margin-bottom: 1rem;
            border-color:  @navGra60;

            .row:first-child, .row:last-child {

              .knapp {
                border-width: 0;
                padding:      0 1rem;
                width:        100%;
              }

              .col {padding: 0}
            }

            &:hover {border-color: @navBla}

            .row:not(:last-child) {border-bottom: 1px solid @navGra20}

            .row:first-child .knapp {justify-content: left}

            .arbeidsforholdslisteelement:hover {
              border-color:     @navBla;
              border-top-width: 1px;
              border-top-style: solid;
              margin-top:       -1px;
              background-color: @navLysBlaLighten80;
            }

            .arbeidsforholdstype {font-weight: bold}

            .skjemaelement {
              margin-bottom: 1rem;
              margin-top:    1rem;
            }
          }
        }
      }

      .disabled-punch-form {opacity: 50%}

      .disabled-punch-form .periodepanel {
        &.focus, &:hover, &.notFocus {
          border-color: @navGra20;
          box-shadow:   none;
          opacity:      100%;
        }
      }
    }

    &.pdf_closed .punch_pdf {
      width: 50px;

      iframe, .knapperad {display: none}

      .button_open {display: block}
    }
  }

  .punch_mappetabell tbody tr:hover {
    background-color: @navLysBlaLighten80;
    cursor:           pointer;
  }

  .punch_mappetabell_tom_soknad {
    text-align: center !important;
    color:      @navGra60;
  }

  .bold-label label {
    font-weight: bold;
  }
}

.ReactModal__Content {width: 67%}

.modal_content {
  padding: 2rem 2.5rem;
}

.punch_mappemodal_knapperad {

  display:         flex;
  justify-content: space-around;

  .knapp1 {
    margin-right: 0.5rem;
  }

  .knapp2 {
    margin-left: 0.5rem;
  }
}

@read-modal-table-border: 1px solid #00000026;

.read-modal {

  margin-bottom: 1rem;
  border-top:    @read-modal-table-border;

  > .row {
    padding:       1rem 0;
    border-bottom: @read-modal-table-border;
  }

  .col:first-child {
    padding-left:  0;
    padding-right: .5rem;
  }

  .col:nth-child(2) {
    padding-left:  .5rem;
    padding-right: 0;
  }

  .periodeliste {
    padding-left: 1rem;
    margin:       0;
  }
}
