@import (reference) '../../../../node_modules/nav-frontend-core/less/_variabler';

.punch {

  max-width:      100%;
  margin:         0 1rem;
  flex-basis:     100%;
  display:        flex;
  flex-direction: column;
  height:         calc(100vh - 104px);
  overflow:       auto;

  h1 {width: 100%}

  .panels-wrapper {

    flex-basis:     100%;
    display:        flex;
    flex-direction: row;
    padding-bottom: 1rem;
    min-height:     100px;

    .punch_pdf_wrapper {
      width:          100%;
      display:        flex;
      flex-direction: column;
      align-items:    stretch;
    }

    .punch_pdf {

      @pdfPadding:      3px;
      padding:          @pdfPadding;
      margin-left:      0.5rem;
      background-color: @navGra40;
      height:           100%;
      display:          flex;
      flex-direction:   column;
      align-items:      stretch;

      .fleredokumenter {

        @buttonHeight: 40px;
        display:       flex;

        > div {
          background-color: @white;
          border-radius:    2px;
          display:          flex;
          p {margin: auto}
        }

        > div, .knapp {
          flex-grow: 1;
          height:    @buttonHeight;
        }

        .knapp {
          margin-left: @pdfPadding;
          &.aktiv {
            border-bottom-left-radius:  0;
            border-bottom-right-radius: 0;
            height:                     calc(@buttonHeight + @pdfPadding);
          }
        }
      }

      iframe {
        border-width: 0;
        flex-basis:   100%;
      }

      button {background-color: white}

      .knapperad {

        display:        flex;
        flex-direction: row;
        align-content:  space-between;

        .knapp {
          flex-grow:  1;
          margin-top: @pdfPadding;

          &.knapp1 {margin-right: calc(@pdfPadding / 2)}

          &.knapp2 {margin-left: calc(@pdfPadding / 2)}
        }
      }

      .button_open {
        width:   100%;
        padding: 0;
        height:  100%;
        display: none;
      }
    }

    .punch_form {

      margin-right: 0.5rem;
      flex-basis:   100%;
      overflow-y:   auto;
      border-color: @navGra40;

      &::-webkit-scrollbar {width: .5rem}
      &::-webkit-scrollbar-track {border-radius: 2px}

      &::-webkit-scrollbar-thumb {
        background:    @navGra40;
        border-radius: 2px;
        &:hover {background: @navGra60}
      }

      .fordeling-page button {margin-top: .5rem}

      .ident-page {
        h2:first-child {margin-top: 0}
        .knapp-usignert, .knapp-tilbake {margin-top: 1rem}
        .knapperad {margin-top: 1rem}
      }

      .knapperad .knapp1 {margin-right: 1rem}

      .statusetikett {
        position: absolute;
        top:      60px;
        left:     1rem;
        z-index:  5;
      }

      .skjemaelement {margin-bottom: 0}

      .ident-soker-2, .inputs-barn .skjemaelement, .inputs-soknad .skjemaelement {margin-top: 1rem}

      .dobbel {

        display: flex;

        > div {
          flex-grow:  1;
          flex-basis: 50%;
          &.dobbel1 {padding-right: 1rem}
          &.dobbel2 {padding-left: 1rem; border-left: 1px solid @navGra20}
        }
      }

      .soknadsperiode {
        .container {padding: 0}
        .col {
          padding-top:    0;
          padding-bottom: 0;
        }
      }

      .arbeidsknapper {
        margin:    -.5rem;
        width:     calc(100% + 1rem);
        max-width: calc(100% + 1rem);
        .col {
          padding:    .5rem;
          flex-grow:  1;
          flex-basis: 0;
          .knapp {width: 100%}
        }
      }

      .tilsynsordning {
        .leggtillisteelementknapp {margin-top: 1rem}
        .listepanel {
          margin-bottom: 0;
          margin-top:    1rem;
        }
      }

      .listepanel {

        background-color: tint(@navLysGra, 75%);
        margin-bottom:    1rem;
        padding:          .5rem 0;

        .listepanelbunn {

          display:         flex;
          justify-content: flex-end;

          .fjernlisteelementknapp {margin: .5rem 1rem}
        }

        &.arbeidstakerpanel {

          .infoContainer {
            padding: .5rem;
            .col {padding: 0 .5rem}
            label {font-weight: bold}
            .skjemaelement {margin-top: 1rem}
          }

          .listepaneler {

            margin: .5rem 1rem;
            .leggtillisteelementknapp:not(:hover) {background-color: @navBlaLighten80}

            .listepanel {
              background-color: @white;
              .arbeidstaker-tilstedevaerelse {margin: .5rem 1rem}
            }
          }
        }

        &.beredskapspanel, &.nattevaakspanel {
          .tilleggsinfo {margin: .5rem 1rem}
        }

        &.tilsynpanel {

          &:first-child {margin-top: 1rem}

          .tilsyntabell {

            padding:          .5rem;
            margin:           .5rem 0;
            text-align:       center;
            background-color: @white;
            border-color:     @navGra20;
            border-style:     solid;
            border-width:     1px 0;
            .skjemaelement, .skjemaelement__label {margin: 0;}
            .row:first-child {font-weight: bold}

            .tilsyntabell_ukedag {

              padding: 0;
              .container {padding: .5rem}
              &:not(:first-child) {border-left: 1px solid @navGra20}
              .row:first-child {margin-bottom: .5rem}

              .col:first-child select {
                border-top-right-radius:    0;
                border-bottom-right-radius: 0;
                &:not(:focus) {border-right-width: 0}
              }

              .col:last-child select {
                border-top-left-radius:    0;
                border-bottom-left-radius: 0;
              }
            }
          }
        }

        &:hover {border-color: @navBla}
      }

      .leggtillisteelementknapp {
        width:         100%;
        border-width:  0;
        border-radius: 4px;
        &:not(:hover) {background-color: tint(@navBla, 90%)}
      }

      .sendknapp-wrapper {margin-bottom: 0}

      .fullfortmelding {margin-top: 1rem}

      .skjema__feilomrade--harFeil {
        @feilbg: fadeout(@pinkErrorBg, 40%);
        background-color: @feilbg;
        box-shadow: 0 0 0 8px @feilbg;
      }
    }

    &.pdf_closed .punch_pdf_wrapper {
      width:      54px !important;
      min-width:  54px !important;
      transition: width .2s, min-width .2s;
      div {cursor: default !important}
      iframe, .knapperad {display: none}
      .button_open {display: block}
    }

    &.pdf_closed .fleredokumenter {display: none}
  }

  .punch_mappetabell tbody tr:hover {
    background-color: @navLysBlaLighten80;
    cursor:           pointer;
  }

  .punch_mappetabell th {
    padding-top: 0;
  }

  .punch_mappetabell_tom_soknad {
    text-align: center !important;
    color:      @navGra60;
  }

  .bold-label label {
    font-weight: bold;
  }
}

.ReactModal__Content {width: 67%}

.modal_content {padding: 2rem 2.5rem}

.punch_mappemodal_knapperad {
  display:         flex;
  justify-content: space-around;
  .knapp1 {margin-right: 0.5rem}
  .knapp2 {margin-left: 0.5rem}
}

@read-modal-table-border: 1px solid #00000026;

.read-modal {

  margin-bottom: 1rem;

  ul {
    margin:               0;
    padding-inline-start: 20px;
    p {margin: 0}
  }

  .row {
    border-bottom: @read-modal-table-border;
  }

  .col:first-child {
    padding-right: .5rem;
  }

  .alertstripe {
    margin:                     0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius:  0;
  }

  .col {
    margin: 0 .5rem;
  }

  &.dobbel .row:first-child .col {
    padding: 0;
  }

  &.dobbel .row:not(:first-child) .col, &.enkel .col {
    padding: 1rem;
  }

  &.dobbel .row:not(:first-child) .col:not(:first-child) {
    background-color: @navLysBlaLighten80;
  }

  &.dobbel .felles .col:last-child {
    color: #669DB4;
  }

  .col:first-child {
    padding-left: 0;
    margin:       0;
  }

  .col:last-child {
    margin-right: 0 !important;
  }

  &.enkel {
    border-top: @read-modal-table-border;
    .col:first-child {flex-grow: 1}
    .col:last-child {flex-grow: 2}
  }

  &.dobbel {
    .col {flex-grow: 1}
  }

  .periodeliste {
    padding-left: 1rem;
    margin:       0;
  }
}
