# Local express server environment
PORT=8080
HOST=localhost
PROXY_CONFIG={"apis":[{"path":"/api/k9-punsj","url":"http://localhost:8085/api","scopes":"k9-punsj/.default"}]}
CORS_ALLOWED_HEADERS=Nav-CallId
CORS_EXPOSED_HEADERS=
CORS_ALLOWED_METHODS=
