.journalpostpanel {
    background-color: var(--a-surface-subtle);
    margin-bottom: 1rem;
}

.journalpostpanel p {
    min-width: 10rem;
}

.modia-lenke {
    float: right;
    font-size: 16px;
    text-decoration: none !important;
}

.modia-lenke:hover {
    text-decoration: underline !important;
}
