@import (reference) '@{coreModulePath}nav-frontend-core/less/_variabler';

.journalpostpanel {
    background-color: @navLysGra;
    margin-bottom: 1rem;
}

.journalpostpanel label {
    min-width: 10rem;
}

.modia-lenke {
    float: right;
    font-size: 16px;
    text-decoration: none !important;

    &:hover {
        text-decoration: underline !important;
    }
}
