@import (reference) '../../../../node_modules/nav-frontend-core/less/_variabler';

.fordeling-container {
  flex-basis:     100%;
  display:        flex;
  flex-direction: row;
  height: 100%;
}

.fordeling-page {
  & button {
    margin-top: .5rem;
  }

  .fordeling-page__options {
    & > label {
      margin-bottom: 0.5em;
    }
    legend{
      margin-bottom: 0.5rem !important;
    }

    .omsorgspenger-radios {
      margin: 1em 0 1em 1em;

      label {
        margin: 0.3em 0;
      }
    }
  }
  .infotrygd_info {
    width: fit-content;
    margin: 1rem 0 1rem 0;
  }
  .fordeling-page__to-sokere-i-journalpost > *{
    margin-bottom: 1rem;
  }
}

.alertstripe {
  margin: 1rem;
  .alertstripe__tekst {
    max-width: unset;
  }
}

.fyllUtIdentAnnetBarnContainer{
  display: flex;
  align-items: center;

  .dobbelSjekkIdent{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-top: 1.75rem;
    p{
      padding-left: 0.5rem;
    }
  }
}
