
.sett-paa-vent {
  padding-left: 2rem;

  .knapper { display: flex }

  .ubehandlede {
  }
  .visjp {
    display: flex;
    text-decoration: none;
    color: #0067C5;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    .vistext {margin-left: 0.5rem}
  }
}
