.aksel-date__field .aksel-form-field__label {
    font-size: var(--a-font-size-medium);
}

.aksel-date__field .aksel-error-message {
    font-size: var(--a-font-size-medium);
}

.aksel-date__field .aksel-text-field__input[size] {
    width: 12.5rem !important;
}
