.sendBrevIAvsluttetSak {
    margin: 4.5rem 2.5rem;
    max-width: 31.875rem;

    .fnrInput,
    .fagsakSelect {
        width: 15.625rem;
    }

    .fnrInput {
        margin-top: 2.375rem;
    }

    .fagsakSelect {
        margin-top: 1.25rem;
    }

    .fagsagSelectContainer {
        display: flex;

        .navds-loader {
            margin-top: 3.3125rem;
            margin-left: 0.5rem;
        }
    }
}
