.inline-block {
    display: inline-block;
}

.arbeidsforhold-container {
    .navds-box {
        background-color: #eaeaea !important;
        padding: 1rem !important;
    }

    .slett {
        float: right;
    }
}
