.fravaersperiode-container {
    margin-bottom: 1rem;

    .aarsak-rad {
        > div {
            display: inline-block;
            vertical-align: top;
            margin-right: 1em;
        }
    }

    .timer-container {
        display: flex;
        align-items: baseline;
    }

    .timer-arbeidet {
        input {
            max-width: 3.75rem;
        }

        min-width: 11rem;
        margin-right: 1rem;
    }
}
