.annen-forelder-container {
    max-width: 600px;
}

.navds-text-field__label {
    display: block;
}

.navds-text-field__input {
    max-width: 250px;
}

.navds-select__container {
    max-width: 250px;
}

.fom-tom {
    display: flex;

    > div {
        min-width: 250px;
        margin-right: 1em;
    }
}
