.opprettJournalpost {
    margin: 4.5rem 3.5rem;

    .heading {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 1.375rem;
        color: #3e3832;
    }

    .formContainer {
    }

    .input {
        margin-top: 2.5rem;
    }

    .notatContainer {
        width: 100%;
        max-width: 26.25rem;
    }

    .submitButton {
        margin-top: 1.875rem;
    }

    .alertstripe {
        margin-left: 0;
        width: 100%;
        max-width: 26.25rem;
    }
}
