.knapper {
    display: flex;
    margin: 1em 0;

    & :first-child {
        margin-right: 1em;
    }
}

.knapp.leggtilknapp {
    svg {
        fill: none;
    }

    &:hover svg {
        fill: none;
    }
}
