.knapper {
    display: flex;
    margin: 1em 0;

    & :first-child {
        margin-right: 1em;
    }
}

.knapp.leggtilknapp {
    svg {
        fill: none;
    }

    &:hover svg {
        fill: none;
    }
}

.sokknapp.navds-button {
    height: 3rem;
    width: 6rem;
    margin: 2rem 0 0 1.5rem;
}
