.aarsak-rad {
    > div {
        display: inline-block;
        margin-right: 1em;
    }
}

.container {
    background-color: #eaeaea;
    margin-bottom: 1rem;
}

.timer-arbeidet {
    input {
        max-width: 3.75rem;
    }
    min-width: 11rem;
    margin-right: 1rem;
}
