name: k9-punsj-oidc-auth-proxy
on:
  push:
    paths:
      - 'nais/proxy/k9-punsj-oidc-auth-proxy.yml'
      - 'nais/proxy/dev.json'
      - 'nais/proxy/prod.json'
      - '.github/workflows/deploy-oidc-auth-proxy.yml'
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 6' # At 02:00 on Saturday.
jobs:
  deploy:
    permissions: 
      contents: read
      id-token: write
    name: deploy k9-punsj-oidc-auth-proxy
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v4
      - name: Deploy dev-fss
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: nais/proxy/k9-punsj-oidc-auth-proxy.yml
          VARS: nais/proxy/dev.json
      - name: Deploy prod-fss
        if: github.ref == 'refs/heads/master'
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          RESOURCE: nais/proxy/k9-punsj-oidc-auth-proxy.yml
          VARS: nais/proxy/prod.json
