name: Validere pull request
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  valid-pull-request:
    name: Validere pull request
    runs-on: ubuntu-latest
    steps:
      - name: Hente kode
        uses: actions/checkout@v2
      - name: Sette opp Node
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 12.x
      - name: Installer moduler og kjør cypress-tester
        uses: cypress-io/github-action@v2
        with:
          build: yarn run build
          start: yarn start
          wait-on: 'http://localhost:8080'
          wait-on-timeout: 60
      - name: Sjekke opp mot Lint-regler
        run: npm run lint
      - name: Kjøre tester
        run: npm run test